<a href="https://colab.research.google.com/github/urszkam/AoC_2022/blob/main/Copy_of_Basic_Python_BIG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---

### **Sekcja 1: Podstawy Pythona**
1. **Proste operacje matematyczne:**
   - Stwórz zmienne `x` i `y` o dowolnych wartościach liczbowych i oblicz:
     - Sumę
     - Różnicę
     - Iloczyn
     - Resztę z dzielenia całkowitego
   - Wydrukuj wyniki.

2. **Zarządzanie typami danych:**
   - Zdefiniuj zmienne o typach `int`, `float`, `str` i `bool`. Wydrukuj ich wartości i typy za pomocą funkcji `type()`.

In [4]:
x, y = 1, 3
print(x + y)
print(x - y)
print(x * y)
print(x % y)

a, b, c, d = 1, 1.1, 'a', True

for val in a, b, c, d:
  print(f"{val}: {type(val)}")

4
-2
3
1
1: <class 'int'>
1.1: <class 'float'>
a: <class 'str'>
True: <class 'bool'>

---

### **Sekcja 2: Struktury danych**
3. **Operacje na listach:**
   - Stwórz listę ulubionych owoców i:
     - Dodaj nowy owoc na koniec listy.
     - Usuń dowolny owoc z listy.
     - Wydrukuj długość listy.

4. **Słowniki:**
   - Stwórz słownik, w którym kluczami będą imiona, a wartościami wiek osób.
   - Dodaj nowy wpis do słownika.
   - Zmień wiek jednej osoby.
   - Usuń jedną osobę ze słownika.
   - Wydrukuj zawartość słownika.

In [5]:
fruits = ['apple', 'banana', 'cherry', 'plum']
fruits.pop()
len(fruits)

3

In [7]:
personal_data = {
    'Ann': 17,
    'Mark': 23,
    'Ella': 11
}
personal_data['Kate'] = 31
personal_data['Ella'] += 2
personal_data.pop('Ann')
personal_data

{'Mark': 23, 'Ella': 13, 'Kate': 31}

---

### **Sekcja 3: Pętle i instrukcje warunkowe**
5. **Pętla `for`:**
   - Napisz pętlę, która iteruje przez listę liczb od 1 do 10 i drukuje tylko liczby parzyste.

6. **Pętla `while`:**
   - Napisz pętlę, która drukuje liczby od 10 do 1.

7. **Instrukcja `if-elif-else`:**
   - Napisz program, który sprawdza, czy podana przez użytkownika liczba jest:
     - Większa niż 10
     - Równa 10
     - Mniejsza niż 10

In [16]:
for i in range(1,11):
  print(i if i % 2 == 0 else '', end=' ')

 2  4  6  8  10

In [11]:
i = 10
while i > 0:
  print(i, end=' ')
  i -= 1

10 9 8 7 6 5 4 3 2 1

In [12]:
num = int(input('Enter number: '))
print('>10' if num > 10 else '==10' if num == 10 else '<10')

Enter number: 5
<10

---

### **Sekcja 4: Funkcje**
8. **Tworzenie funkcji:**
   - Napisz funkcję, która przyjmuje dwie liczby jako argumenty i zwraca ich średnią arytmetyczną.

9. **Generator:**
   - Napisz generator, który zwraca liczby od 1 do 5. Wydrukuj wartości za pomocą pętli `for`.

---

In [13]:
def compute_mean(num1: float, num2: float) -> float:
  return ((num1 + num2)/2)

print(compute_mean(2.2, 0))

1.1

In [17]:
gen = (i for i in range(1,6))

for i in gen:
  print(i, end=' ')

1 2 3 4 5


### **Sekcja 5: Funkcje `map`, `filter`, `reduce`**

1. Rozważmy listę temperatur w stopniach Celsjusza. Użyj map, aby przekształcić je na Fahrenheita.
Temperatury w Celsjusza:
```python
temperatures_celsius = [0, 10, 20, 30, 40]
```
2. Filtrowanie liczb parzystych (filter):
Rozważmy listę liczb całkowitych. Użyj filter, aby wybrać tylko liczby parzyste.
Lista liczb:
python
```python
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

3. Obliczanie iloczynu wszystkich liczb (reduce):
Rozważmy listę liczb całkowitych. Użyj reduce, aby obliczyć iloczyn wszystkich elementów tej listy.
Lista liczb:
```python
numbers = [1, 2, 3, 4, 5]
```
4. Podnoszenie liczb do kwadratu tylko dla liczb parzystych (map + filter):
Rozważmy listę liczb całkowitych. Użyj filter, aby wybrać liczby parzyste, a następnie map, aby podnieść je do kwadratu.
Lista liczb:

```python
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```
5. Suma liczb nieparzystych (filter + reduce):
Rozważmy listę liczb całkowitych. Użyj filter, aby wybrać liczby nieparzyste, a następnie reduce, aby obliczyć ich sumę.
Lista liczb:
```python
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [23]:
temperatures_celsius = [0, 10, 20, 30, 40]
temperature_F = list(map(lambda x: x*1.8 + 32, temperatures_celsius))

temperature_F

[32.0, 50.0, 68.0, 86.0, 104.0]

In [24]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_numbers = list(filter(lambda x: x % 2 == 0, numbers))

filtered_numbers

[2, 4, 6, 8, 10]

In [28]:
from functools import reduce


numbers = [1, 2, 3, 4, 5]
reduced_number = reduce(lambda x, y: x * y, numbers)

reduced_number

120

In [31]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_even = [x**2 for x in numbers if x % 2 == 0]

squared_even

[4, 16, 36, 64, 100]

In [34]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_sum = reduce(lambda acc, x: acc + x if x %2 != 0 else acc, numbers)

odd_sum

25

### Zadanie: Tworzenie dekoratora mierzącego czas wywołania funkcji

Cel zadania:
* Stwórz dekorator measure_time, który mierzy czas wykonania funkcji i wyświetla wynik w sekundach.
Instrukcje:
- Użyj modułu time do pomiaru czasu.
- Dekorator powinien być uniwersalny, tzn. działać dla funkcji z dowolną liczbą argumentów i zwracać wynik oryginalnej funkcji.

Przykład użycia:
* Napisz funkcję slow_function, która symuluje opóźnienie za pomocą time.sleep(n) i zwraca tekst „Funkcja zakończona”.
* Użyj dekoratora measure_time do pomiaru czasu jej wykonania.

In [43]:
import time
from typing import Callable, Any
from functools import wraps


def measure_time(func: Callable) -> Callable:
  @wraps(func)
  def wrapper(*args: Any, **kwargs: Any) -> Any:
    start = time.time()
    res = func(*args, **kwargs)
    measurement = start - time.time()
    print(f"Measured time: {measurement} s")

    return res

  return wrapper

In [44]:
@measure_time
def slow_function(n: int) -> str:
  time.sleep(n)

  return 'Funkcja zakończona'

print(slow_function(4))

Measured time: -4.000119686126709 s
Funkcja zakończona